{
	"presets": ["next/babel", "@emotion/babel-preset-css-prop"],
	"plugins": [
		[
			"module-resolver",
			{
				"extensions": [".ts"],
				"root": ["."],
				"alias": {
					"@": "./"
				}
			}
		]
	]
}
