{
	"root": true,
	"env": {
		"node": true,
		"es2021": true
	},
	"parser": "typescript",
	"parserOptions": {
		"parser": "babel-eslint",
		"sourceType": "module"
	},
	"extends": ["prettier", "plugin:prettier/recommended"],
	"plugins": ["prettier", "@typescript-eslint"],
	"rules": {
		"prettier/prettier": "warn",
		"eqeqeq": "warn",
		"no-console": ["warn", { "allow": ["info", "error", "warn"] }],
		"camelcase": "off"
	}
}
